fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
numpy
scipy
matplotlib
pyglet == 1.4.11; platform_system == "Windows"
pillow>=9.4.0
pyqt6
pandas>=1.5.3
questplus>=2023.1
openpyxl
xmlschema
soundfile
imageio
imageio-ffmpeg
psychtoolbox<3.0.20; platform_machine!='arm64'
pywinhook; platform_system == "Windows"
zope.event==5.0
zope.interface==7.2
gevent==25.5.1
MeshPy
psutil
pyzmq>=22.2.1
ujson
msgpack
msgpack-numpy
pyyaml
freetype-py
arabic-reshaper
websockets
requests
astunparse
esprima
jedi >= 0.16
pyserial
pyparallel; platform_system != "Darwin"
ffpyplayer
opencv-python
pypiwin32; platform_system == "Windows"
pyobjc-core > 8.0; platform_system == "Darwin"
pyobjc-framework-Quartz > 8.0; platform_system == "Darwin"
pyobjc > 8.0; platform_system == "Darwin"
pyobjc-framework-ScriptingBridge > 8.0; platform_system == "Darwin"
zeroconf; platform_system == "Darwin"
distro; platform_system == "Linux"
tables!=3.9.2
packaging>=24.0
moviepy
pyarrow
beautifulsoup4
json_tricks
