fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
cmyt>=1.1.2
ewah-bool-utils>=1.2.0
matplotlib>=3.7.0
more-itertools>=8.4
numpy>=1.21.3, <3
numpy!=2.0.1 ; platform_machine=='arm64' and platform_system=='Darwin'
packaging>=21.0
pillow>=8.3.2
rlic>=0.3.2
tomli-w>=0.4.0
tqdm>=3.4.0
unyt>=2.9.2
tomli>=1.2.3;python_version < '3.11'
typing-extensions>=4.6.0 ; python_version < '3.12'
tomli; python_version < '3.11'
typing-extensions; python_version < '3.11'
