fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
matplotlib >= 1.5
numpy >= 1.26
pandas
scipy <1.16
scikit-image >= 0.19
scikit-learn
dask
dask-jobqueue
opencv-python
xarray >= 2022.11.0
statsmodels
altair < 6
vl-convert-python
nd2
flyr
scipy
