fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
numpy
scipy
pandas>=2.0
xarray
netcdf4!=1.7.4
linopy>=0.6.1
matplotlib
plotly
pydeck>=0.6
seaborn
geopandas>=0.9
shapely
networkx>=2
deprecation
validators
highspy
levenshtein>=0.27.1
