fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
arviz>=0.13.0,<1.0.0
matplotlib>=3.5.1
narwhals
numpy>=2.0
pandas
pymc>=5.28.1
pytensor>=2.38.2
scikit-learn>=1.1.1
seaborn>=0.12.2
tqdm
xarray>=2024.1.0
xarray-einstats>=0.5.1
pyprojroot
pymc-extras>=0.9.2
preliz>=0.20.0
pyyaml
roadmapper
labs-sphinx-theme
scipy
