fastmcp
fastapi
uvicorn[standard]
pydantic>=2.0.0
requests>=2.9.1
numpy >=1.15.1
pandas>=0.25.0
scipy>=1.14.0;python_version>='3.10'
statsmodels>=0.13
patsy>=0.4.1
pywavelets
scikit-learn>=0.22.0
tqdm>=4.10.0
stumpy>=1.7.2
cloudpickle
distributed (dask distributed runtime for some execution modes)
